a {
   text-decoration : none;
   border: 3px groove gray;
   border-radius: 5px;
  margin : 10px;
  padding : 5px;
  color : white;
  background-color:gray;
  

}

h1 {
  text-align : center;
  margin : 50px;
  font-size : 70px;

}
html {
   color : black;
   background-image : url("grp.jpg");
   background-position : top 175px left 0px ;
   background-size: 1300px;
   background-repeat: no-repeat;
   
}